@{
    ViewData["Title"] = "Portpolio";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Portpolio</h2>
        <h5 class="description">작업했던 내용 입니다.</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                        <i class="material-icons">library_books</i> Language
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                        <i class="material-icons">engineering</i> Work
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                        <i class="material-icons">keyboard_alt</i> Studying
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content tab-space">
    <div class="tab-pane active text-center gallery" id="studio">
        <div class="row">
            <div class="col-md-2 ml-auto">
                <img src="~/assets/img/Cs.png" class="rounded">
                <img src="~/assets/img/SQL.png" class="rounded">
            </div>
            <div class="col-md-2 mr-auto">
                <img src="~/assets/img/opencv.png" class="rounded" height="150">
                <img src="~/assets/img/python.png" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="works">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="~/assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="~/assets/img/examples/cynthia-del-rio.jpg" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="~/assets/img/examples/clem-onojegaw.jpg" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="favorite">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="~/assets/img/examples/studio-3.jpg" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="~/assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="~/assets/img/examples/studio-1.jpg" class="rounded">
            </div>
        </div>
    </div>
</div>