@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <div class="profile">
            <div class="avatar">
                <img src="~/assets/img/jun3x4.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
            </div>
            <div class="name">
                <h3 class="title">Junseong Woo</h3>
                <h6>C#, Python Programer</h6>
                <a href="https://github.com/junseongwoo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-github"></i></a>
                <a href="https://www.instagram.com/wooooojun/" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100003396979785" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="description text-center">
    <p>경성대학교 전자공학과 졸업</p>
    <p>부경대학교 윈도우 플랫폼 기반 IoT 개발자 과정 수료 중</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />